<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
	<div id="myView">
	<table v-for="student in list">
		<td>{{student.id}}</td>
		<td>{{student.name}}</td>
		<td>{{student.age}}</td>
	</table>
　　　　<ol>
	<!--　<li >{{list}}</li> -->　
　　　　</ol>
　　</div>
</body>
</html>

<script type="text/javascript">
	var myViewMode=new Vue({
		el:"#myView",
		data:{
			list:[]
		},
		mounted () {
		axios({
		    method: 'get',
		    url: '/stu/getStudent' 
			})
			.then((response)=> {
				var rs=response.data;
				this.list=rs;
			});
	 }});
	
	
</script>